html {
  max-width: 100%;
  height: auto;
  display: block;
  -webkit-tap-highlight-color: transparent;
}
h1 {
  text-align: center;
  color: #ffffff;
  font-size: 35px;
  font-style: italic;
  background-color: rgba(0, 0, 0, 0.7);
  margin: -8px;
}
.nav-tittle-left {
  float: left;
  font-size: 25px;
  margin-top: -25px;
  margin-left: -5px;
}
.nav-tittle-right {
  float: right;
  font-size: 25px;
  margin-top: -25px;
  margin-right: -5px;
}
nav a {
  color: #ffffff;
  text-decoration: none;
  background-color: rgba(16, 137, 156, 0.7);
  font-weight: bold;
  border-radius: 10px;
  padding: 2px;
}

iframe {
  position: relative;
  left: 1375px;
  top: 533px;
}
body {
  background-image: url("../images/fond.jpg");
  background-color: gray;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
